name: .NET CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'


      - name: Restore packages
        run: dotnet restore
        working-directory: ./TelegramBot

      - name: Build
        run: dotnet build --no-restore
        working-directory: ./TelegramBot

      - name: Run tests (skip if none)
        run: echo "No tests available, skipping..."
